nome_sistema: &nome_sistema ETEControll
# Site settings
title: *nome_sistema
email: gsaneamentoambiental@gmail.com
description: >
  Site da ferramenta ETEControll utilizada para auxiliar o processo em Estações de Tratamento de Efluentes.

baseurl: "/ETEControll" # the subpath of your site, e.g. /blog/
url: https://saneamentoambiental.github.io/ETEControll # the base hostname & protocol for your site
git_address: "https://github.com/saneamentoambiental/ETEControll"
git_edit_address: "https://github.com/saneamentoambiental/ETEControll"

sitegrupopesquisa: "http://saneamentoambiental.github.io"

# theme options from https://bootswatch.com/
# comment out this to use default Bootstrap
bootwatch: flatly #paper

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-scholar
  - jekyll-toc
  - jekyll-analytics
  - jekyll-extlinks

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
  - TrabalhoETE.pdf
timezone: America/Fortaleza

defaults:
- scope:
    path: _posts
    type: posts
  values:
    layout: post
    sectionid: blog

- scope:
    path: _docs
    type: docs
  values:
    layout: docs
    sectionid: docs
    seo:
      type: "WebPage"

collections:
  docs:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true


scholar:
  style: "apa"
  sort_by: "author"
  relative: "/ETEControll/referencias.html"
  bibliography_template: "<abbr>[{{key}}]</abbr>{{reference}}"

extlinks:
  attributes: {rel: nofollow, target: _blank}
  rel_exclude: ['host1.com', 'host2.net']

jekyll_analytics:
  GoogleAnalytics:          # Add, if you want to track with Google Analytics
    id: UA-123-456          # Required - replace with your tracking id
    anonymizeIp: false      # Optional - Default: false - set to true for anonymized tracking

  #Matomo:                   # Add, if you want to track with Matomo (former Piwik Analytics)
  #  url: matomo.example.com # Required - url to Matomo installation without trailing /
  #  siteId: "1234"          # Required - replace with your Matomo site id (Write id as string)

  #Piwik:                    # Add, if you want to track with Piwik
  #  url: piwik.example.com  # Required - url to Piwik installation without trailing /
  #  siteId: "1234"          # Required - replace with your Piwik site id (Write id as string)

  #MPulse:                   # Add if you want to track performance with mPulse
  #  apikey: XXXXX-YYYYY-ZZZZZ-AAAAA-23456   # Required - replace with your mPulse API key